@import "tailwindcss";

:root {
  --font-outfit: "Outfit", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-alex: "Alex Brush", sans-serif;

  --color-primary: #7ee3f9;
  --color-secondary: #001f3f;
}

@theme {
  --color-primary: #7ee3f9;
  --color-secondary: #001f3f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

html,
body,
#root {
  overflow-x: hidden;
}

.font-outfit {
  font-family: var(--font-outfit);
}

.font-poppins {
  font-family: var(--font-poppins);
}

.font-alex {
  font-family: var(--font-alex);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-pagination {
  display: flex;
  gap: 1px;
  justify-content: center;
  align-items: center;
}

.custom-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: rgba(126, 227, 249, 1);
  border-radius: 80%;
  transition: all 0.3s ease;
}

.custom-pagination .swiper-pagination-bullet-active {
  width: 36px;
  height: 12px;
  border-radius: 8px;
  background: linear-gradient(to right, #7ee3f9, #a3e0ee);
}

.ant-picker-calendar {
  background: transparent !important;
}

.ant-picker-body {
  background: #c9eaf6 !important;
}
.ant-picker-content {
  background: #c9eaf6 !important;
}
