@import "tailwindcss";

:root {
  --font-outfit: "Outfit", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-alex: "Alex Brush", cursive;

  --color-primary: #7ee3f9;
  --color-secondary: #001f3f;
}

@theme {
  --color-primary: #7ee3f9;
  --color-secondary: #001f3f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

/* [data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

html,
body,
#root {
  overflow-x: hidden;
}

.font-outfit {
  font-family: var(--font-outfit);
}

.font-poppins {
  font-family: var(--font-poppins);
}

.font-alex {
  font-family: var(--font-alex);
}
